@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass";
}

.container {
    width: 340px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(213, 19%, 18%);
}

#star {
    margin-bottom: 1.5rem;
    background-color: hsl(212, 16%, 23%);
    border-radius: 50px;
    padding: 10px;
}

#title-first,
#title-second {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: .7rem;
}

#subtitle-first,
#subtitle-second {
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 1.5rem;
}

#button-area {
    display: flex;
    justify-content: space-between;
}

button {
    margin-bottom: 1.5rem;
    padding: 15px 20px;
    background-color: hsl(212, 16%, 23%);
    color: hsl(216, 12%, 54%);
    font-weight: 700;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

#submit {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 100%;
}

#submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.hide {
    display: none;
}

.orange {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#phone {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1.5rem -1rem;
}

#result {
    font-size: 15px;
    padding: 5px 20px;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    background-color: hsl(212, 16%, 23%);
    color: hsl(25, 97%, 53%);
}

#div-result,
#div-title{
    display: flex;
    justify-content: center;
}

#subtitle-second {
    text-align: center;
}